.DS_Store
.ipynb_checkpoints
regions
.vscode
TEST
*/__pycache__

//GROUP 1 Cезонность и тренд (последний месяц НЕ декабрь): GROUP_1_not_december
//GROUP 1 Cезонность и тренд (последний месяц декабрь): GROUP_1_december
//GROUP 2: Тренд без сезонности (последний месяц НЕ декабрь): GROUP_2_not_december
//GROUP 2: Тренд без сезонности (последний месяц декабрь): GROUP_2_december
//GROUP 3: Сезонность без тренда: GROUP_3
//GROUP 4: Без тренда и без сезонности (последний месяц НЕ декабрь): GROUP_4_not_december
//GROUP 4: Без тренда и без сезонности (последний месяц декабрь): GROUP_4_december

//ARIMA: ARIMA
//Prophet: Prophet
//Наивный метод/Наивный метод с ошибкой (naive_forecast): Naive/Naive_error
//Скользящее среднее фиксированные периоды/календарные годы (rolling_mean): RollMean_periods/RollMean_years
//Сезонная декомпозиция фиксированные периоды/календарные годы (seasonal_decomposition): SeasonDec_periods/SeasonDec_years
//Декомпозиция с/без тренда фиксированные периоды (decomposition_fixed_periods): Dec_with_trend_periods/Dec_without_trend_periods
//Декомпозиция с/без тренда календарные годы (decomposition_calendar_years): Dec_with_trend_years/Dec_without_trend_years
//Регрессия с линейным/логарифмическим трендом (regressio_model): regr_lin/regr_log